body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#heading {
    margin: 0;
    font-size: 4rem;
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

#bodyContent {
    display: flex;
    justify-content: center;
    height: 85%;
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.bodyContentItem {
    border: 3px solid grey;
    border-radius: 25px;
    width: 20%;
    height: 40%;
}
.bodyContentItem:hover {
    cursor: pointer;
}

.clickableCard {
    text-decoration: none;
}

.imgWrapper {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 3px solid grey;
}

.bodyContentItemImage {
    display: block;
    width: 70%;
    height: auto;
}

.bodyContentItemText {
    width: 100%;
    height: 40%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
}